<strong>Hi there!</strong>
<p>A new user was joined on your meetup</p>
<p>
  <strong>Title:</strong> {{meetup.title}}<br />
  <strong>User:</strong> {{name}} <br />
  <strong>Date:</strong> {{date}} <br />
  <br />
  <small>
  This is an automatic message, please do not reply
  </small>
</p>
